body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

.navbar a{
    color: white !important;
} 

.fondo-favicon{
    background-color: #33ccff;
}

.fondo-card{
    background-color: #33ccff;
}

.fondo-footer{
    background-color: #33ccff;
    color:white;
}

.fondo-footer a{
    color: white;
    text-decoration: none;
}

.mysvg{
    width: 30px;
    height: 30px;
}

.linea-1{
    width: auto;
    height: 3.5px;
    background-color: #33ccff;
    margin-bottom: 2%;
}
